/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.imgHome {
    background-image: url("https://wallpapers.com/images/featured/379r48zf0xa66b3k.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

ul li {
    list-style: none;
    padding: 10px;
    background-color:  #f3d3bb ;
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    padding-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

input {
    border: none;
    width: 100%;
}